<%- include("partials/header.ejs", {title: "Gallery"}) %>
<br><br><br>
<div class="gallery-section">
  <h2 class="gallery-title">Gallery 2</h2>
  <div class="gallery">
    <div class="image-container">
      <img src="/image/butterfly-8095032_640.jpg" alt="Image 1" />
    </div>
    <div class="image-container">
      <img src="/image/lotus-1205631_640.jpg" alt="Image 2" />
    </div>
    <div class="image-container">
      <img src="/image/poppies-174276_640.jpg" alt="Image 2" />
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>
